spring:
  datasource:
    url: ${url:jdbc:mariadb://localhost:3306/myseattest}
    username: root
    password: root1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
jwt:
  secret: "12345678901234567890123456789012"
